.battery-popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 16;
}
.battery-popup-body {
  position: absolute;
  left: 22%;
  right: 15%;
  bottom: 30%;
  top: 30%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 5;
  height: 499px;
  width: 50%;
  display: grid;
  grid-auto-flow: row;
  scroll-behavior: auto;
  gap: 1rem;
  overflow-x: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-left: 5px;
}

.battery-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.battery-products-main-container {
  text-align: center;
}

.battery-products-list-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.battery-close-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  /* margin-top: -200px; */
  cursor: pointer;
  /* margin-left: 46%; */
  top: 5px;
  right: 5px;
}
/* @media only screen and (max-width: 550px) {
  .battery-close-icon {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 280px), (max-height: 1000px) {
  .battery-popup-body {
    width: 65%;
  }
  /* .battery-close-icon {
    margin-left: 50%;
  } */
/* }
@media only screen and (min-width: 1330px) {
  .battery-popup-body {
    width: 50%;
  }
  .battery-close-icon {
    margin-left: 47%;
  }
} */
@media only screen and (max-width: 555px) {
  .battery-close-icon {
    margin-left: 30%;
  }
  .battery-popup-body {
    height: 430px;
  }
  .battery-products-list-container {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 450px) {
  .battery-close-icon {
    margin-left: 25%;
  }
  .battery-products-list-container {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .battery-close-icon {
    margin-left: 38%;
  }
  .battery-products-list-container {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1040px) {
  .battery-close-icon {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 980px) {
  .battery-close-icon {
    margin-left: 30%;
  }
}
@media only screen and (max-width: 1115px) {
  .battery-close-icon {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 280px) {
  .battery-popup-body {
    position: absolute;
    left: 22%;
    right: 15%;
    bottom: 30%;
    top: 30%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
    height: 499px;
    width: 68%;
    display: grid;
    grid-auto-flow: row;
    scroll-behavior: auto;
    gap: 1rem;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-left: 5px;
  }
}
